.header{
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
    .header{
       height: 200px;
       margin: 0;
    }
    
    }